body {
  background-color: #FFFFFD;
  font-family: "Open Sans", opensans, sans-serif;
  font-size: 100%;
  text-align: center;
  color: #070707;
  padding: 0;
  margin: 0;
}

a {
  color: black;
}
a:visited {
  color: #070707;
}
a:hover {
    color: #1C95D6;
}

.site {
  max-width: 42em;
  margin: 0 auto 0 auto;
  line-height: 1.8em;
  text-align: left;
  padding: 0 1.5em 2em 1.5em;
}

@media
only screen and (max-device-width: 8in)
{
    .site {
        padding: 1em;
        margin: 0;
        max-width: 100em;
    }
}

.site h3,h4 {
  color: black;
}

.site h1,h2,h3 {
  color: #1C95D6;
  line-height: 1.4em;
  margin-top: 1em;
  padding-bottom: 0;
  margin-bottom: 0.5em;
}

.site h1,h2,h3 a {
  color: #1C95D6;
  font-weight: 400;
}
.site h1,h2,h3 a:visited {
  color: #1C95D6;
}

.site .abstract {
    font-size: 1.1em;
    font-style: italic;
    margin: 0 1em 2em 1.5em;
    padding-left: 0.8em;
    border-left: 2px solid #C72409;
}

.site .article {
    font-size: 1.1em;
}

code {
    font-size: larger;
    border: 1px solid #ddd;
    padding: 0 .2em;
}
pre {
    border: 1px solid #ddd;
    padding: .1em .4em;
    background-color: #fefefe;
    line-height: 1.4em;
}
pre code {
    border: none;
}

.meta {
  color: #555555;
}

.site .header {
  border-bottom: 2px solid #C72409;
  padding-top: 0.5em;
  margin-bottom: 1.5em;

  line-height: 2em;
  color: #555;
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 0.15em;
}

.header a {
  color: #555;
  text-decoration: none;
}

.header a:visited {
  color: #555;
}

.header a.cur {
    color: #C72409;
}

.sep {
    padding: 0;
    font-size: x-large;
    vertical-align: bottom;
    color: #C72409;
}

.articlesummary {
    margin: 2em 0;
}
.articlesummary a {
    text-decoration: none;
}
.date {
    color: #666;
    text-transform: uppercase;
    font-size: smaller;
}
.articlesummary h3 {
    padding-bottom: 0;
    margin-bottom: 0;
}

.elsewhere li {
    list-style-type: none;
}
.elsewhere img {
    vertical-align: bottom;
    padding: 0.5em 1em 0.5em 0;
}

table td {
  padding-right: 3em;
  vertical-align: top;
}
